bravado==11.0.3
gnomad_db==0.1.4
lifelines==0.30.0
matplotlib==3.6.3
numpy==1.24.1
pandas==2.2.3
progress==1.6
pyliftover==0.4.1
Requests==2.32.3
scikit_learn==1.5.1
scipy==1.15.2
statsmodels==0.14.4
